.home {
  padding: 2rem;
  font-family: sans-serif;
  text-align: center;
}

.search {
  padding: 8px;
  width: 300px;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px solid black;
}

.product-list {
  list-style: none;
  padding: 0;
}
